name: Entrega Continua (CD) para EventHub
description: |
    Este workflow realiza el despliegue autom치tico del proyecto EventHub.
    Construye la imagen Docker, la sube al registry y notifica a Render para actualizar el servicio.

on:
    workflow_run:
        workflows: ["Integraci칩n Continua (CI) para EventHub"]
        types:
            - completed
    pull_request:
      types:
      - closed
      branches:
        - main

env:
    IMAGE_NAME: arisita/eventhub
    RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
    RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}

jobs:
    deploy:
        name: Deploy a producci칩n
        runs-on: ubuntu-latest
        if: >-
            (github.event_name == 'workflow_run' &&
              github.event.workflow_run.conclusion == 'success' &&
              (github.event.workflow_run.event == 'release'))
              ||
              (github.event_name == 'pull_request' &&
              github.event.pull_request.merged == true &&
              github.event.pull_request.base.ref == 'main')

        steps:
            - name: Obtener el c칩digo del repositorio
              uses: actions/checkout@v4

            - name: Conectarse a Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Construir y subir imagen Docker
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.IMAGE_NAME }}:latest
                      ${{ env.IMAGE_NAME }}:${{ github.ref_name }}

            - name: Notificar a Render para desplegar
              run: |
                  curl --request POST \
                      --url "https://api.render.com/v1/services/${RENDER_SERVICE_ID}/deploys" \
                      --header 'accept: application/json' \
                      --header "authorization: Bearer ${RENDER_API_KEY}" \
                      --header 'content-type: application/json' \
                      --data '
                    {
                        "clearCache": "do_not_clear"
                    }
                      '
